.block-about-time{
  color:  #c44db2;
  font-family: @font__main;
}
.days-week{
  color:  #facb0e;
  margin-right: 10px;
  font-family: @font__main;
}
.block-about-time span{
  color: #808285;
}
.photo-leading{
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  border: 5px solid #707c7e;
}
.photo-leading img{
  width: 100%;
  height: 100%;
}
.about-ellipse{
  font-family: @font__main;
  font-style: italic;
  color:  #838f91;
  margin-left: 50px;
  position: relative;
  margin-top: 32px;
  display: inline-block;
}
.about-ellipse::before{
  position: absolute;
  width: 12px;
  height: 12px;
  background: #c44db2;
  content: "";
  top: 2px;
  left: -24px;
  border-radius: 50%;
}
.brand-share-fb{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/share-fb-Icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.brand-share-vk{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/share-vk-Icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.brand-share-tw{
   display: inline-block;
   width: 30px;
   height: 30px;
   background: url(../img/share-tw-Icon.png);
   background-size: 100%;
   background-repeat: no-repeat;
 }
.info-leading-name{
    color:  #c44db2;
    font-family: @font__main;
  font-weight: bold;
  .font-size(18);
}
.info-leading-info{
  width: 209px;
    font-family: @font__main;
  color:  #a7a9ac;
  .font-size(14);
}
.leading{
  display: flex;
  margin: auto;
  width: max-content;
  position: relative;
}
.info-leading{
  margin-left: 30px;
  margin-top: 15px;
}
.leadings{
  display: flex;
  width: max-content;
  margin: auto;
  padding-bottom: 35px;
  border-bottom: 1px solid #687071;
  margin-top: 50px;
}
.divider-horizontal{
  width: 1px;
  background: url(../img/divider-horizontal.png);
  margin: 0 20px;
}
.about-description{
  width: 760px;
  margin: auto;
  margin-top: 30px;
  color: #a7a9ac;
  .font-size(18);
    font-family: @font__main;
}
.leadings{
  display: block;
}

.page-brand-block__about__multiple{
  display: none;
  margin-bottom: 40px;
}