.pl{
  padding-left: 75px;
  position: relative;
}
.twit-lab::before{
  content: " ";
  position: absolute;
  width: 55px;
  height: 55px;
  display: block;
  background: url(../img/SocialIcontw.png);
  left: -74px;
  top: -17px;
}

.twit-lab::after{
  content: " ";
  position: absolute;
  width: 55px;
  height: 55px;
  display: block;
  background: url(../img/anons-all-btn.png);
  right: -20px;
  top: 5px;
  height: 14px;
  width: 7px;

}
.twit-lab{
position: relative;
}
.pl::before{
  content: " ";
  position: absolute;
  width: 4px;
  height: 40px;
  display: block;
  background: #707c7e;
  left: 26px;
  top: 80px;
  border-radius: 2px;

}
.twit-lab{
  font-family: PTSansRegular;
  font-size: 20px;
  text-transform: uppercase;
  color: #808285;
  font-weight: 100;
  margin-top: 38px;
  margin-bottom: 17px;
  display: inline-block;
  cursor: pointer;
}
.twiter{
  display: none;
}