.page-programs-header {
    background: #f3f4f4;
}

.page-programs-shows-list {
    padding: 10px 0 16px 0;
    border-bottom: solid 5px #ddd;
}

.page-programs-shows-list-column-1 {
    width: 348px;
    margin: 10px 0 0 0;
}

.page-programs-shows-list-column-2 {
    width: 378px;
    margin: 10px 0 0 0;
}

.page-programs-shows-list-column-3 {
    margin: 10px 0 0 0;
}

.page-programs-shows-list-category h1 {
    margin: 0;
    font-family: @font__main;
    font-weight: bold;
    .font-size(12);
    text-transform: uppercase;
}

.page-programs-shows-list-link {
    position: absolute;
    top: 42px;
    right: 0;
    color: #909799;
    font-family: @font__main;
    .font-size(16);
    text-decoration: none;
    display: flex;
}

.page-programs-shows-list-link::after {
    display: block;
    width: 13px;
    height: 9px;
    margin-left: 8px;
    margin-top: 5px;
    background: url(../img/filter-small__items.svg) no-repeat;
    content: "";
}


.page-programs-shows-list-link span {
    position: relative;
    right: -1px;
    font-family: Arial;
    .font-size(13);
}

.page-programs-shows-category-link {
    color: #2f8dca;
    text-decoration: none;
}

.page-programs-shows-list-items {
    padding-left: 21px;
    margin: 23px 0 0 0;
}

.page-programs-shows-list-item {
    position: relative;
}

.page-programs-shows-list-item:last-child {
    margin-bottom: 26px;
}

.page-programs-shows-list-item__new::after {
    position: absolute;
    top: -5px;
    display: inline-block;
    width: 19px;
    border-radius: 3px;
    margin-left: 4px;
    background: #ff1111;
    color: #fff;
    font-family: @font__main;
    font-weight: bold;
    .font-size(9, 13);
    text-align: center;
    content: "new";
}

.page-programs-shows-list-item {
    display: block;
    padding-bottom: 12px;
    color: #8a8c8e;
    font-family: @font__main;
    .font-size(14);
    text-decoration: none;
    transition: all 0.1s ease-out;
}

.page-programs-shows-list-item:hover {
    color: #2f8dca;
    text-decoration: underline;
}

.page-programs-shows-list-channel-description {
    padding: 0;
    margin: 10px 0 0 0;
    color: #8a8c8e;
    font-family: @font__main;
    .font-size(13, 20);
}

.page-programs-shows-list-channel-description span {
    font-family: @font__main;
    font-weight: bold;
    .font-size(12);
}

.page-programs-shows-list-channel-link {
    position: absolute;
    left: 11px;
    color: #2f8dca;
    font-family: @font__main;
    .font-size(13, 20);
    text-decoration: none;
}

.page-programs-shows-list-channel-link:hover::after {
    opacity: 0;
}

.page-programs-shows-list-channel-link::before {
    float: left;
    display: block;
    width: 5px;
    height: 10px;
    margin: 3px 6px 0 -11px;
    background: url(../img/content-episode-arrowIcon.svg) no-repeat;
    content: "";
}

.page-programs-shows-list-channel-link::after {
    position: relative;
    top: -2px;
    left: 1px;
    display: block;
    width: 100%;
    height: 1px;
    background: #7cb0d9;
    box-shadow: 0 1px 0 0 rgba(216, 230, 242, 0.9);
    content: "";
    transition: all 0.1s ease-out;
}

.page-programs-shows-list-channel-link span {
    position: relative;
    right: -1px;
    font-family: Arial;
    .font-size(13);
}

.page-programs-shows-list-channel-share {
    position: absolute;
    padding: 0;
}

.page-programs-shows-list-channel-share-item {
    float: left;
    list-style-type: none;
}

.page-programs-shows-list-channel-share-link {
    display: block;
    height: 14px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.2s linear;
}

.page-programs-shows-list-channel-share-item:hover .page-programs-shows-list-channel-share-link {
    transform: rotateY(180deg);
}

.page-programs-shows-list-channel-share-item_rss {
    width: 14px;
}

.page-programs-shows-list-channel-share-item_rss::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__rss no-repeat;
    content: "";
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.page-programs-shows-list-channel-share-item_rss::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__rss no-repeat;
    content: "";
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.page-programs-shows-list-channel-share-item_yt {
    width: 19px;
}

.page-programs-shows-list-channel-share-item_yt::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__yt no-repeat;
    content: "";
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.page-programs-shows-list-channel-share-item_yt::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__yt no-repeat;
    content: "";
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.page-programs-shows-list-channel-share-item_fb {
    width: 7px;
}

.page-programs-shows-list-channel-share-item_fb::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__fb no-repeat;
    content: "";
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.page-programs-shows-list-channel-share-item_fb::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__fb no-repeat;
    content: "";
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.page-programs-shows-list-channel-share-item_vk {
    width: 24px;
}

.page-programs-shows-list-channel-share-item_vk::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__vk no-repeat;
    content: "";
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.page-programs-shows-list-channel-share-item_vk::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__vk no-repeat;
    content: "";
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.page-programs-shows-list-channel-share-item_tw {
    width: 17px;
}

.page-programs-shows-list-channel-share-item_tw::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__tw no-repeat;
    content: "";
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.page-programs-shows-list-channel-share-item_tw::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: @headerTop__tw no-repeat;
    content: "";
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.page-programs-content {
    background: #f3f4f4;
    padding-top: 30px;
}

.page-programs-content-item:hover {
    cursor: pointer;
}

.page-programs-content-items {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 43px;
    border-bottom: solid 1px #e8e8e8;
}

.page-programs-content-items:last-child {
    border-bottom: none;
}

.page-programs-content-items-title {
    display: block;
    width: 100%;
    margin-top: 33px;
    margin-bottom: 27px;
    color: #6e7b7d;
    font-family: @font__main;
    .font-size(28);
}

.page-programs-content-items-title_youth {
    display: block;
    width: 100%;
    margin-top: 33px;
    margin-bottom: 27px;
    color: #b14510;
    font-family: @font__main;
    .font-size(20);
    text-transform: uppercase;
}

.page-programs-content-item {
    width: 300px;
    margin-right: 21px;
    margin-bottom: 43px;
}

.page-programs-content-shows-poster-container {
    width: 300px;
    height: 169px;
    position: relative;
}

.page-programs-content-shows-poster {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.page-programs-content-shows-title {
    color: #1c7ab6;
    font-family: @font__main;
    font-weight: bold;
    .font-size(16);
    margin-top: 12px;
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
}

.page-programs-content-shows-description {
    color: #6d6e71;
    font-family: @font__main;
    .font-size(14, 16);
    margin-top: 0;
    margin-bottom: 8px;
}

.page-programs-content-shows-info {
    color: #939598;
    font-family: @font__main;
    .font-size(12);
    display: flex;
}

.page-programs-content-shows-info p {
    display: flex;
    margin: 0;
}

.page-programs-content-shows-info p:first-child::after {
    content: "";
    display: block;
    width: 2px;
    height: 12px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 1px;
    background: #d1d2d3;
}

.page-programs-content-shows-info p span {
    font-family: @font__main;
    font-weight: bold;
    .font-size(12);
    display: block;
    margin-right: 4px;
    margin-top: -1px;
}

.page-shows-loading {
    position: relative;
}

.page-shows-loading::before {
    content: '';
    display: block;
    width: 60px;
    height: 64px;
    background: url(../img/ajax-loader.gif);
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -30px;
    z-index: 2;
}

.page-shows .content-shows__row-container {
    margin-top: 150px;
    margin-bottom: 0;
    opacity: 0;
}

.page-shows .content-arrow-right {
    display: none;
}

.page-programs-header .grid__column-3 {
    margin: auto;
}

.page-programs-header::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 55px;
    background: url("../img/articlePageBorder.png") repeat-x;
}

.page-shows .filter-small__default {
    display: none;
}

.page-shows .content-video-list-header-date {
    height: 20px;
}

.content-video-list-header-content .page-shows {
    margin-top: 65px;
}

.page-shows .content-video-list-header-show__category {
    width: 260px;
    margin: 25px auto 0;
    color:  rgba(255, 254, 254, 0.9);
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

.page-shows .content-video-list-header-show__category::before {
    content: "";
    width: 41px;
    height: 2px;
    background-color: #facb0e;
    display: block;
    margin: 0 auto 25px;
}

.page-shows .content-video-list-header-show__title {
    font-weight: normal;
}

.page-programs-content-show {
    width: 292px;
    margin-right: 13px;
    margin-bottom: 30px;
    height: 282px;
    position: relative;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 0 #e0e0e0;
    cursor: pointer;
    overflow: hidden;
}

.page-programs-content-show-content {
    width: 100%;
    height: 124px;
    bottom: 0;
    margin-bottom: 20px;
    padding: 0 19px 45px;
    position: absolute;
    transition: height .1s ease-out;
    background-color: #fff;
    overflow: hidden;
}

.page-programs-content-show:hover .page-programs-content-show-cover {
    background-position-y: -20px;
}

.page-programs-content-show:hover .page-programs-content-show-cover::before {
    opacity: .5;
}

.page-programs-content-show:hover .page-programs-content-show-content {
    height: 183px;
}

.page-programs-content-show-cover {
    height: 158px;
    position: relative;
    transition: background-position-y .1s ease-out;
    background-size: cover;
}

.page-programs-content-show-cover::before {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity .1s ease-out;
    background-color: #131313;
    content: '';
    opacity: 0;
}

.page-programs-content-show-content h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color:  #636466;
    line-height: 24px;
    text-align: center;
}
.page-programs-content-show-content a {
    color:  #636466;
    text-decoration: none;
}

.page-programs-content-show-description {
    color: #707c7e;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.page-shows .container-header h2{
    text-transform: inherit;
    font-size: 28px;
}

.page-shows .container-header h2{
    text-transform: inherit;
    font-size: 28px;
}

.page-programs-header .grid__column-1 {
    width: 348px;
}

.page-programs-shows-list-columns .content-shows-category-link {
    display: flex;
    font-size: 20px;
    text-transform: none;
    align-items: center;
}

.page-programs-shows-list-columns .content-shows-category-link::after {
    display: block;
    width: 13px;
    height: 9px;
    margin-left: 8px;
    margin-top: 5px;
    background: url(../img/arrowRightBl.png) no-repeat;
    content: "";
}

.page-programs-shows-list-columns .page-programs-shows-list-item {
    font-size: 16px;
}

.page-shows .page-programs-shows-list-columns {
    width: 100%;
}

.page-programs-shows-list-columns .container-header {
    margin-bottom: 10px;
}