.page-article {
    background: #f3f4f4;
    width: 100%;
    overflow: hidden;
}
.page-article::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 55px;
    background: url("/img/articlePageBorder.png") repeat-x;
}

.articles-block {
    background: #f3f4f4;
}

.recomended-block {
    background: #f3f4f4;
    padding-bottom: 65px;
}

.page-article-links {
    display: flex;
}

.page-article-links a {
    color: #808285;
    font-family: @font__main;
    font-size: 14px;
    text-decoration: underline;
    display: block;
    margin-right: 3px;
}

.page-article-links span {
    color: #808285;
    font-family: @font__main;
    font-size: 14px;
    display: block;
    float: left;
    margin-right: 3px;
}

.page-article-links a::after {
    content: "→";
    display: block;
    font-family: arial;
    float: right;
    margin-left: 3px;
}

.page-article-header-wrap {
    overflow: hidden;
    height: 286px;
    position: relative;
}

.page-article-header {
    display: flex;
    height: 307px;
    width: 101%;
    padding: 0;
    margin-left: -10px;
    margin-top: -10px;
}

.page-article-header-wrap::before {
    content: "";
    display: block;
    width: 101%;
    height: 286px;
    position: absolute;
    background: #0b2226;
    opacity: 0.5;
    z-index: 1;
}

.page-article-header-content {
    position: absolute;
    z-index: 3;
    width: 100%;
}

.page-article-header-content-poster {
    border: solid 6px #fff;
    border-radius: 210px;
    width: 210px;
    height: 210px;
    margin-top: 41px;
}

.page-article-header-content-head {
    margin-left: 53px;
    position: relative;
    width: 700px;
}

.page-article-header-content-head::before {
    content: '';
    display: block;
    width: 28px;
    height: 25px;
    position: absolute;
    left: -45px;
    top: 40px;
    background: url(../img/articleQuotePicture.png);
}
.page-article-header-content-head-category {
    display: block;
    margin-left: 3px;
    margin-top: 53px;
    margin-bottom: 0;
    color: #fff;
    font-family: @font__main;
    font-size: 14px;
    line-height: 15px;
    opacity: 0.5;
}

.page-article-header-content-head-title {
    display: block;
    margin-top: 22px;
    margin-bottom: 0;
    color: #fff;
    font-family: @font__main;
    font-size: 32px;
    line-height: 39px;
}

.page-article-header-content-head-author {
    display: block;
    margin-left: 3px;
    margin-top: 17px;
    color: #fff;
    font: bold 16px @font__main;
    line-height: 17px;
    letter-spacing: -1px;
    opacity: 0.9;
}

.page-article-header-content-head-author span{
    color: #fff;
    font-family: @font__main;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0;
    opacity: 0.6;
}

.page-article-header-content-head-author::before {
    content: '';
    display: block;
    width: 38px;
    height: 1px;
    margin-bottom: 13px;
    background: #cfcfcf;
    opacity: 0.3;
}

.page-article-header-content-info-date {
    color: #fff;
    font-family: @font__main;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    margin-top: 70px;
    margin-bottom: 0;
    position: relative;
}

.page-article-header-content-info-date::before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    margin-right: 17px;
    background: url(../img/articleInfoDatePicture.png);
}

.page-article-header-content-info-date::after {
    content: '';
    display: block;
    width: 38px;
    height: 1px;
    margin-bottom: 13px;
    background: #cfcfcf;
    opacity: 0.3;
    position: absolute;
    left: 38px;
    top: 43px;
}

.page-article-header-content-info-views {
    color: #fff;
    font-family: @font__main;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 0;
    position: relative;
}

.page-article-header-content-info-views::before {
    content: '';
    display: block;
    width: 20px;
    height: 16px;
    margin-right: 17px;
    background: url(../img/articleInfoViewsPicture.png);
}

.page-article-header-content-info-views::after {
    content: '';
    display: block;
    width: 38px;
    height: 1px;
    margin-bottom: 13px;
    background: #cfcfcf;
    opacity: 0.3;
    position: absolute;
    left: 38px;
    top: 43px;
}

.page-article-content-controls {
    margin-top: 50px;
    display: flex;
    position: relative;
}

.page-article-content-controls > div {
    margin-right: 50px;
}

.page-article-content-controls > div:last-child {
    margin-right: 0;
}

.page-article-content-controls-link__comments {
    display: flex;
    margin-top: -8px;
    position: absolute;
    right: 0;
}

.page-article-content-controls-link__comments-link {
    display: inline-block;
    margin-left: 10px;
    color: #2f8dca;
    font-family: @font__main;
    font-size: 15px;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 10px;
}

.page-article-content-controls-link__comments-info {
    color: #6e7b7d;
    font: bold 14px @font__main;
    font-style: italic;
    position: relative;
}

.page-article-content-controls-link__comments-info::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 15px;
    left: 16px;
    top: 1px;
    background: url(../img/articleControlsCommentsInfoPicture.png);
}

.page-article-content-controls-link__comments-info::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    left: 43px;
    top: 7px;
    border-radius: 4px;
    background: #6e7b7d;
}

.page-article-content-controls-link__comments-link::after {
    position: relative;
    top: -2px;
    left: 0px;
    display: block;
    width: 100%;
    height: 1px;
    background: #7cb0d9;
    box-shadow: 0 1px 0 0 rgba(216, 230, 242, 0.9);
    content: "";
    transition: all 0.1s ease-out;
}

.page-article-content-controls-link__comments-link:hover::after {
    opacity: 0;
}

.page-article-content-description {
    color: #6e7b7d;
    font-family: @font__main;
    font-size: 18px;
    margin-top: 37px;
    line-height: 26px;
}

.page-article-content-description p {
    margin-top: 0;
    margin-bottom: 8px;
}

.page-article-content-description p:last-child {
    margin-bottom: 0;
}

// Block article

.page-articles-header {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 170px;
}

.page-articles-header-title {
    color: #fff;
    font-family: @font__main;
    font-size: 32px;
    line-height: 33px;
    letter-spacing: 1.6px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.page-articles-header-title span {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 80%;
}

.page-articles-header-title::before {
    content: '';
    display: block;
    height: 1px;
    background: #a6a5a5;
    display: block;
    flex-grow: 1;
}

.page-articles-header-title::after {
    content: '';
    display: block;
    height: 1px;
    background: #a6a5a5;
    flex-grow: 1;
}

.page-articles-header-search {
    width: 78%;
    height: 40px;
    border: solid 1px #a5a5a5;
    border-radius: 3px;
    position: relative;
    background: rgba(38, 38, 38, 0.4);
    text-align: left;
    margin-top: 35px;
}

.page-articles-header-search-input {
    width: 100%;
    height: 38px;
    color: #fff;
    font-family: @font__main;
    font-size: 16px;
    line-height: 16px;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding-left: 13px;
    padding-right: 13px;
    outline: none;
}

.page-articles-header-search-input::-webkit-input-placeholder {font-family: @font__main; font-style: italic}
.page-articles-header-search-input::-moz-placeholder          {font-family: @font__main; font-style: italic}/* Firefox 19+ */
.page-articles-header-search-input:-moz-placeholder           {font-family: @font__main; font-style: italic}/* Firefox 18- */
.page-articles-header-search-input:-ms-input-placeholder      {font-family: @font__main; font-style: italic}

.page-articles-header-search-icon {
    position: absolute;
    right: 14px;
    top: 10px;
}

.page-articles-header-subscribe {
    background: rgba(38, 38, 38, 0.3);
    border-radius: 3px;
    border: solid 1px #9dc4f6;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    padding-top: 8px;
    margin-top: 35px;
    margin-left: 5%;
    position: absolute;
    right: 0;
    text-decoration: none;
    color: #9dc4f6;
    font-size: 16px;
    font-family: @font__main;
}

.page-articles-article {
    padding-bottom: 73px;
    transition: all 0.2s ease-out;
    position: relative;
}

.page-articles-article-last {
    padding-bottom: 61px;
    height: 526px;
    overflow: hidden;
}

.page-articles-article:first-child:hover {
    cursor: default;
}

.page-articles-article-last .container-content:hover {
    cursor: pointer;
}

.page-articles-article .container {
    z-index: 3;
}

.page-articles-article-last .container {
    padding-top: 170px;
}

.page-articles-article-last-poster::before {
    content: "";
    display: block;
    width: 103%;
    height: 108%;
    position: absolute;
    background: #0b2226;
    opacity: 0.5;
    z-index: 2;
    top: -30px;
    left: -10px;
}

.page-articles-article-last-poster {
    position: absolute;
    width: 101%;
    height: 104%;
    z-index: 1;
    top: -5px;
    left: -5px;
    background-position: center;
    background-size: 100%;
}

.page-articles-article:hover {
    background: #fff;
    cursor: pointer;
}

.page-articles-article-poster {
    border: solid 6px #fff;
    border-radius: 210px;
    width: 199px;
    height: 199px;
    margin-top: 72px;
    background-position: center;
}

.page-articles-article-last .page-articles-article-poster {
    margin-top: 80px;
}

.page-articles-article-content {
    position: relative;
    margin-top: 64px;
    margin-left: 54px;
    width: 79%;
}

.page-articles-article-last .page-articles-article-content {
    margin-top: 72px;
}

.page-articles-article-content::before {
    content: '';
    display: block;
    width: 28px;
    height: 25px;
    position: absolute;
    left: -50px;
    top: 8px;
    background: url(../img/articlesQuoteBlack.png);
}

.page-articles-article-last .page-articles-article-content::before {
    content: '';
    display: block;
    width: 28px;
    height: 25px;
    position: absolute;
    left: -50px;
    top: 8px;
    background: url(../img/articlesQuoteWhite.png);
}

.page-articles-article-content-author {
    display: block;
    color: #f9ca0e;
    font: bold 16px @font__main;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 0;
}

.page-articles-article-last .page-articles-article-content-author {
    color: #fff;
}

.page-articles-article-content-author span {
    display: block;
    color: #6e7b7d;
    font-family: @font__main;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 4px;
}

.page-articles-article-last .page-articles-article-content-author span {
    color: #fff;
    opacity: 0.5;
}

.page-articles-article-content-date {
    display: block;
    color: #6e7b7d;
    font-family: @font__main;
    font-size: 18px;
    line-height: 19px;
    position: relative;
    display: flex;
    position: absolute;
    top: 19px;
    right: 0;
    margin: 0;
}

.page-articles-article-last .page-articles-article-content-date {
    color: #fff;
}

.page-articles-article-content-date::before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    margin-right: 17px;
    margin-top: -1px;
    background: url(../img/articlesCalendarBlack.png);
}

.page-articles-article-last .page-articles-article-content-date::before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    margin-right: 17px;
    margin-top: -1px;
    background: url(../img/articlesCalendarWhite.png);
}

.page-articles-article-content-date::after {
    content: '';
    display: block;
    width: 38px;
    height: 1px;
    margin-bottom: 13px;
    background: rgba(207, 207, 207, 0.3);
    position: absolute;
    left: 38px;
    top: 37px;
}

.page-articles-article-content-views {
    display: block;
    color: #6e7b7d;
    font-family: @font__main;
    font-size: 18px;
    line-height: 19px;
    position: relative;
    display: flex;
    position: absolute;
    top: 75px;
    right: 0;
    width: 123px;
    margin: 0;
}

.page-articles-article-last .page-articles-article-content-views {
    color: #fff;
}

.page-articles-article-content-views::before {
    content: '';
    display: block;
    width: 20px;
    height: 16px;
    margin-right: 17px;
    background: url(../img/articlesViewsBlack.png);
}

.page-articles-article-last .page-articles-article-content-views::before {
    content: '';
    display: block;
    width: 20px;
    height: 16px;
    margin-right: 17px;
    background: url(../img/articlesViewsWhite.png);
}

.page-articles-article-content-views::after {
    content: '';
    display: block;
    width: 38px;
    height: 1px;
    margin-bottom: 13px;
    background: rgba(207, 207, 207, 0.3);
    position: absolute;
    left: 38px;
    top: 37px;
}

.page-articles-article-content-link {
    position: absolute;
    right: 0;
    color: #6e7b7d;
    font-family: @font__main;
    font-size: 13px;
    font-style: italic;
    line-height: 14px;
    text-decoration: none;
    display: inline-flex;
    margin-right: -4px;
}

.page-articles-article-last .page-articles-article-content-link {
    color: #fff;
}

.page-articles-article-content-link::after {
    content: '';
    display: block;
    width: 26px;
    height: 15px;
    margin-left: 12px;
    background: url(../img/articlesLinkYellow.png);
}

.page-articles-article-last .page-articles-article-content-link::after {
    content: '';
    display: block;
    width: 26px;
    height: 15px;
    margin-left: 12px;
    background: url(../img/articlesLinkWhite.png);
}

.page-articles-article-content-title {
    display: block;
    margin-top: 24px;
    margin-bottom: 0;
    color: #6e7b7d;
    font: bold 28px @font__main;
    line-height: 30px;
    width: 80%;
    text-decoration: none;
}

.page-articles-article-last .page-articles-article-content-title {
    font-family: @font__main;
    color: #fff;
}

.page-articles-article-content-description {
    display: block;
    margin-top: 24px;
    margin-bottom: 0;
    color: #6e7b7d;
    font-family: @font__main;
    font-size: 14px;
    line-height: 15px;
    width: 80%;
}

.page-articles-article-last .page-articles-article-content-description {
    color: rgba(255, 255, 255, 0.6);
}

