.content-video-list-items {
    height: 400px;
    opacity: 0;
    margin-top: 100px;
    display: none;
}

.page__show-loader {
    position: relative;
    height: 600px;
}

.page__show-loader::before {
    content: '';
    display: block;
    width: 60px;
    height: 64px;
    background: url(../img/ajax-loader.gif);
    position: absolute;
    left: 50%;
    margin-left: -30px;
    z-index: 2;
}

.content-video-list-header-search-loader {
    opacity: 0;
}

.content-video-list-header-search-loader::after {
    position: absolute;
    top: 9px;
    right: 6px;
    display: block;
    width: 24px;
    height: 20px;
    background: url(../img/filter-small__reload.svg);
    opacity: 1;
    transform: rotate(180deg);
    content: "";
    transition: all 0.1s ease-out;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.content-video-list-header-search__loading .content-video-list-header-search-icon {
    display: none;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}