.page-hamburger{
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.page-hamburger-logo{
  display: block;
}
.page-hamburger-btn{
  display: block;
  height: 33px;
  width: 38px;
  border: 2px solid white;
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 7px;
}