// out: null

.header-timeline {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

.header-timeline .wrap {
    width: 5250px;
    display: flex;
    flex-direction: row;
}

.header-timeline__item {
    padding-right: 15px;
    padding-top: 3px;
    color: @color-mainMenu;
}

.header-timeline__item-next {
    padding-right: 15px;
    padding-top: 3px;
    color: @color-mainMenu;
}

.header-timeline__item:before {
    content: "";
    display: block;
    height: 3px;
    background: @color-timelinePrev;
    border-radius: 1px;
}

.header-timeline__item-next:before {
    content: "";
    display: block;
    height: 3px;
    background: @color-timelineNext;
    border-radius: 1px;
}

.header-timeline__time {
    margin-top: 4px;
    font-family: @font-Bold;
    width: 40px;
    height: 20px;
    float: left;
    font-size:14px;
    color: @color-timelineTime;
}

.header-timeline__live {
    margin-top: 4px;
    color: @color-timelineLive;
    font-size: 14px;
    font-family: @font-Bold;
    float: left;
    width: 63px;
    height: 20px;
}

.header-timeline__description {
    font-family: @font-Italic;
    font-weight: 100;
    font-size: 13px;
    color: @color-timelineDescription;
    margin:0;
    display: block;
    margin-top: 5px;
    clear: both;
    line-height: 16px;
}
