// out: null

.header-banner {
    height: 341px;
}

.header-banner:hover .header-banner__item-play{
    width: 110px;
    height: 110px;
    cursor: pointer;
    margin-top: -120px;
}

.header-banner__item:after {
    content: "";
    background: @headerBanner__mask repeat-x 0 0;
    height: 530px;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
}

.header-banner__item {
    height: 530px;
    width: 100%;
    top: 0;
    position: absolute;
    background-position-x:center;
    border-bottom: solid 6px @headerBanner__color-loader;
    z-index: -1;
}

.header-banner__item .wrap {
    margin-top: 237px;
    height: 293px;
    z-index: 100;
}

.header-banner__arrow_left {
    display: flex;
    height: 100%;
    float: left;
    position: absolute;
    top: 330px;
    left: 19%;
}

.header-banner__arrow_right {
    display: flex;
    height: 100%;
    position: absolute;
    top: 330px;
    right: 19%;
}

.header-banner__arrow_left:before {
    content: "";
    background: @headerBanner__arrow;
    width: 21px;
    height: 35px;
    display: block;
    opacity: 0.4;
}

.header-banner__arrow_right:before {
    content: "";
    background: @headerBanner__arrow;
    width: 21px;
    height: 35px;
    display: block;
    transform: rotate(180deg);
    opacity: 0.4;
}

.header-banner__item-time {
    color: @headerBanner__color-time;
    font-family: @font-Bold;
    font-size: 40px;
    margin-left: 60px;
    margin-bottom: 0px;
    width: 110px;
    text-align: center;
}

.header-banner__item-day {
    color: @headerBanner__color-day;
    font-family: @font-Bold;
    font-size: 12px;
    text-transform: uppercase;
    background-color: @headerBanner__color-day__background;
    padding-top: 7px;
    padding-bottom: 7px;
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 35px;
    width: 110px;
    text-align: center;
}

.header-banner__item-title {
    width: 167px;
    color: @headerBanner__color-title;
    font-family: @font-Bold;
    font-size: 16px;
    margin-left: 60px;
    margin-bottom: 13px;
}

.header-banner__item-description {
    width: 136px;
    color: @headerBanner__color-description;
    font-family: @font-Regular;
    font-size: 14px;
    margin-left: 60px;
    line-height: 16px;
    float: left;
}

.header-banner__item-play {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: -115px;
    background-image: @headerBanner__play;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.3, 1);
}

//.header-banner__item-play:hover {
//    width: 110px;
//    height: 110px;
//    cursor: pointer;
//    margin-top: -120px;
//}

.header-banner__controls {
    width: 112px;
    height: 8px;
    position: relative;
    top: 312px;
    margin: 0 auto;
    display: flex;
}

.header-banner__controls-item {
    width: 8px;
    height: 8px;
    background-color: @headerBanner__color-control;
    margin-right: 7px;
    border-radius: 8px;
}

.header-banner__controls-item:last-child {
    margin-right: 0;
}

.header-banner__controls-item__active {
    background-color: @headerBanner__color-control__active;
}

.header-banner::after {
    content: "";
    display: block;
    background-color: @headerBanner__color-loader__active;
    height: 5px;
    width: 500px;
    position: relative;
    top: 328px;
}
