.header-main {
    position: relative;
    z-index: 112;
    display: flex;
    height: 74px;
    font-family: @font__main__narrow;
    .font-size(20);
}

.header-main__logo {
    align-items: center;
    display: flex;
    width: 160px;
    height: 95px;
}

.header-main__logo a {
    display: block;
    width: 160px;
    height: 52px;
    background: @headerMain__logo 50% 50% no-repeat;
}

.header-main__menu {
    align-items: center;
    display: flex;
    height: 90px;
    padding: 0;
    margin-top: 3px;
}

.header-main__menu-item:last-child {
    margin-left: -13px;
}

.header-main__menu-item {
    height: 26px;
    border-bottom: 2px solid @headerMain__color-invisibleBorder;
    color: @headerMain__color-element;
    text-decoration: none;
    transition: @headerMain__animations-all;
}

.header-main__menu-item:hover {
    height: 26px;
    border-bottom: 2px solid @headerMain__color-Border__hover;

}

.header-main__menu-item_online {
    align-items: center;
    display: flex;
    margin-top: 1px;
}

.header-main__menu-item_online:before {
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 12px;
    background: @headerMain__play no-repeat;
    content: "";
}

.header-main__lang {
    position: absolute;
    right: 0;
    width: 52px;
    height: 72px;
    margin-top: 27px;
}

.header-main__russian {
    float: left;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    border:solid 3px #fff;
    background: url("@{img}/ruFlag.png") center no-repeat;
    background-size: contain;
}
.header-main__arrow {
    float: left;
    clear: right;
    width: 13px;
    height: 13px;
    background: url("@{img}/LanguageCnangeArrow.png") no-repeat;
    opacity: 0.5;
    background-size: contain;
    margin-left: 4px;
}
.header-main__arrow2 {
    float: left;
    width: 13px;
    height: 13px;
    margin: 4px 6px 0 12px;
    background: url("@{img}/LanguageCnangeArrow.png")no-repeat;
    transform: scaleX(-1) scaleY(-1);
    opacity: 0.5;
    background-size: contain;
}
.header-main__ukrain {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: -7px;
    border-radius: 10px;
    border: solid 3px #547077;
    background: url("@{img}/uaFlag.png") center no-repeat;
    background-size: contain;
}
