// out: null

.header-timeline {
    position: relative;
    z-index: 100;
    margin: 0 auto;
}

.header-timeline__items {
    position: absolute;
    left: -662px;
    display: flex;
    width: 5250px;
    user-select:none;
}

.header-timeline__item {
    padding: 3px 15px 0 0;
}

.header-timeline__item:hover {
    cursor: pointer;
}

.header-timeline__item-current {
    padding: 3px 15px 0 0;
}

.header-timeline__item-current:hover {
    cursor: pointer;
}

.header-timeline__item-next {
    padding: 3px 15px 0 0;
}

.header-timeline__item-next:hover {
    cursor: pointer;
}

.header-timeline__item:before {
    display: block;
    height: 3px;
    border-radius: 1px;
    background: @headerTimeline__color-prev;
    content: "";
}

.header-timeline__item-current::before {
    display: block;
    width: 51px;
    height: 3px;
    border-radius: 1px;
    background: @headerTimeline__color-prev;
    content: "";
}

.header-timeline__item-current::after {
    position: relative;
    top: -43px;
    left: 60px;
    display: block;
    width: 76px;
    height: 3px;
    border-radius: 1px;
    background: @headerTimeline__color-next;
    content: "";
}

.header-timeline__item-next::before {
    display: block;
    height: 3px;
    border-radius: 1px;
    background: @headerTimeline__color-next;
    content: "";
}

.header-timeline-line {
    overflow: visible;
}

.header-timeline-line::before {
    position: relative;
    top: 9px;
    left: -28px;
    display: block;
    width: 3px;
    height: 9px;
    background: red;
    content: "";
}

.header-timeline__time {
    float: left;
    width: 40px;
    height: 20px;
    margin-top: 4px;
    color: @headerTimeline__color-time;
    font: bold 14px @font-Bold;
}

.header-timeline__live {
    float: left;
    width: 23px;
    height: 20px;
    margin-top: 4px;
    color: @headerTimeline__color-live;
    font: bold 14px @font-Bold;
    backface-visibility: hidden; //fix animation visual bug
}

.header-timeline__description {
    clear: both;
    display: block;
    margin: 0;
    color: @headerTimeline__color-description;
    font: 13px @font-Italic;
    line-height: 16px;
}
