// out: null

.banner-main {
    z-index: 100;
}

.banner-main__item:after {
    content: "";
    background: url("@{img}/headerDark.png") repeat-x 0 0;
    height: 530px;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
}

.banner-main__item {
    height: 530px;
    width: 100%;
    z-index: -1;
    top: 0;
    position: absolute;
}

.banner-main__item .wrap {
    margin-top: 237px;
    height: 293px;
    z-index: 100;
}

.banner-main__arrow_left {
    display: flex;
    height: 100%;
    float: left;
    position: absolute;
    top: 330px;
    left: 20%;
}

.banner-main__arrow_right {
    display: flex;
    height: 100%;
    position: absolute;
    top: 330px;
    right: 20%;
}

.banner-main__arrow_left:before {
    content: "";
    background: url("@{img}/header-sliderArrow.png");
    width: 21px;
    height: 35px;
    display: block;
}

.banner-main__arrow_right:before {
    content: "";
    background: url("@{img}/header-sliderArrow.png");
    width: 21px;
    height: 35px;
    display: block;
    transform: rotate(180deg);
}

.banner-main__item-time {
    color: @color-bannerMainTime;
    font-family: @font-main;
    font-weight: bold;
    font-size: 40px;
    margin-left: 60px;
    margin-bottom: 0px;
}

.banner-main__item-day {
    color: @color-bannerMainDay;
    font-family: @font-main;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    background-color: @color-bannerMainDayBackground;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 30px;
}

.banner-main__item-title {
    width: 167px;
    color: @color-bannerMainTitle;
    font-family: @font-main;
    font-weight: bold;
    font-size: 18px;
    margin-left: 60px;
    margin-bottom: 13px;
}

.banner-main__item-description {
    width: 102px;
    color: @color-bannerMainDescription;
    font-family: @font-main;
    font-size: 14px;
    margin-left: 60px;
}
