// out: null

.header-main, .header-main .wrap{
    height: 95px;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.header-main__logo{
    margin-left: 14px;
    margin-right: 81px;
    width: 160px;
    height: 95px;
    display: flex;
    align-items: center;
}

.header-main__logo a {
    display: block;
    background: @headerMain__logo;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 160px;
    height: 52px;
}

.header-main__menu{
    height: 95px;
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    width: 582px;
}

.header-main__menu-item{
    display: inline;
    list-style-type: none;
    margin-right: 62px;
    height: 26px;
}

.header-main__menu-item:last-child {
    margin-right: -79px;
    margin-left: -13px;
}

.header-main__menu-item a{
    text-decoration: none;
    color: @headerMain__color-element;
    font-family: @font-Narrow;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid @headerMain__color-invisibleBorder;
    height: 26px;
}

.header-main__menu-item a:hover{
    border-bottom: 2px solid @headerMain__color-Border__hover;
    height: 26px;
}

.header-main__menu-item_online {
    display: flex;
    align-items: center;
    height: 20px;
}

.header-main__menu-item_online:before{
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    background-image: @headerMain__play;
    background-repeat: no-repeat;
    float: left;
    margin-right: 12px;
}

.header-main__lang{
    width: 60px;
    height: 72px;
    margin-left: 75px;
    margin-top: 27px;
}

.header-main__russian{
    width: 27px;
    height: 27px;
    background: url("@{img}/header-ruActive.png")no-repeat;
    float: left;
}
.header-main__arrow{
    width: 20px;
    height: 27px;
    background: url("@{img}/header-arrow.png")no-repeat 25% 10%;
    float: left;
    clear: right;
}
.header-main__arrow2{
    width: 27px;
    height: 27px;
    background: url("@{img}/header-arrow2.png")no-repeat 90% 20%;
    float: left;
    margin-right: 4px;
}
.header-main__ukrain{
    width: 20px;
    height: 20px;
    background: url("@{img}/header-ukInactive.png")no-repeat;
    float: left;
    margin-top: -7px;
}
