// out: null

.header-top .wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 100;
}

.header-top {
    height: 41px;
}

.header-top__watch-us, .header-top__menu-item, .header-top__user a {
    font-family: @font-Regular;
    font-size: 13px;
    text-decoration: none;
    color: @headerTop__color-element;
}

.header-top__worldwide {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 32px;
    margin-left: 20px;
}

.header-top__worldwide a {
    display: flex;
    flex-direction: row;
    font-family: @font-Italic;
    font-size: 12px;
    color: @headerTop__color-element;
    text-decoration: none;
    width: 200px;
    line-height: 20px;
    transition: @headerTop__animations-all;
}

.header-top__worldwide a:hover {
   color: @headerTop__color-element__hover;
}

.header-top__worldwide a:before {
    content: "";
    display: block;
    background-image: @headerTop__worldwide;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 14px;
}

.header-top__watch-us {
    display: flex;
    align-items: center;
    width: 117px;
    margin-right: 54px;
}

.header-top__watch-us a {
    text-decoration: none;
    color: @headerTop__color-element__important;
    font-family: Arial;
    font-size: 13px;
    margin-left: 3px;
}

.header-top__watch-us span {
    font-family: @font-Regular;
    color: @headerTop__color-element__important;
    text-decoration: underline;
}

.header-top__menu {
    display: flex;
    align-items: center;
    width: 137px;
    margin-right: 60px;
}

.header-top__menu-item {
    font-family: @font-Regular;
    font-size: 13px;
    text-decoration: none;
    color: @headerTop__color-element;
    margin-right: 39px;
    transition: @headerTop__animations-all;
}

.header-top__menu-item:hover {
    color: @headerTop__color-element__hover;
}

.header-top__menu-item:last-child {
    margin-right: -42px;
}

.header-top__search-item {
    display: flex;
    align-items: center;
    height: 41px;
    width: 30px;
    margin-right: 41px;
    transform-style: preserve-3d;
    transition: all 0.2s linear;
}

.header-top__search:hover .header-top__search-item{
    height: 41px;
    box-sizing:border-box;
    border-bottom: 2px solid @headerTop__color-Border__hover;
    transform: rotateY(180deg);
}

.header-top__search-item::before, .header-top__search-item::after {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.header-top__search-item::before {
    content: "";
    display: block;
    background-image: @headerTop__search;
    width: 30px;
    height: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
    transform-style: preserve-3d;
    transition: all 0.2s linear;
}

.header-top__search-item::after {
    content: "";
    display: block;
    background-image: @headerTop__search;
    width: 30px;
    height: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
    transform-style: preserve-3d;
    transition: all 0.2s linear;
    transform: rotateY(180deg);
}

.header-top__social {
    display: flex;
    align-items: center;
    width: 152px;
    margin: 0;
    padding-left: 0;
    margin-right: 73px;
}

.header-top__social-item {
    display: block;
    height: 14px;
    margin-right: 16px;
}

.header-top__social-item:last-child {
    margin-right: -16px;
}

.header-top__social-link {
    display: block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.2s linear;
}

.header-top__social-item:hover .header-top__social-link{
    transform: rotateY(180deg);
}

.header-top__social-link_rss:hover, .header-top__social-link_yt:hover, .header-top__social-link_fb:hover, .header-top__social-link_vk:hover, .header-top__social-link_tw:hover {
    border-bottom: 2px solid @headerTop__color-Border__hover;
}

.header-top__social-link::before, .header-top__social-link::after {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.header-top__social-link_rss::before {
    content: "";
    background-image: @headerTop__rss;
    background-repeat: no-repeat;
    display: block;
    transform-style: preserve-3d;
    width: 14px;
    height: 14px;
}

.header-top__social-link_rss::after {
    content: "";
    display: block;
    background-image: @headerTop__rss__hover;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    transform: rotateY(180deg);
}

.header-top__social-link_yt::before {
    content: "";
    background-image: @headerTop__yt;
    background-repeat: no-repeat;
    display: block;
    transform-style: preserve-3d;
    width: 19px;
    height: 14px;
}

.header-top__social-link_yt::after {
    content: "";
    display: block;
    background-image: @headerTop__yt__hover;
    background-repeat: no-repeat;
    width: 19px;
    height: 14px;
    transform: rotateY(180deg);
}

.header-top__social-link_fb::before {
    content: "";
    background-image: @headerTop__fb;
    background-repeat: no-repeat;
    display: block;
    transform-style: preserve-3d;
    width: 7px;
    height: 14px;
}

.header-top__social-link_fb::after {
    content: "";
    display: block;
    background-image: @headerTop__fb__hover;
    background-repeat: no-repeat;
    width: 7px;
    height: 14px;
    transform: rotateY(180deg);
}

.header-top__social-link_vk::before {
    content: "";
    background-image: @headerTop__vk;
    background-repeat: no-repeat;
    display: block;
    transform-style: preserve-3d;
    width: 24px;
    height: 14px;
}

.header-top__social-link_vk::after {
    content: "";
    display: block;
    background-image: @headerTop__vk__hover;
    background-repeat: no-repeat;
    width: 24px;
    height: 14px;
    transform: rotateY(180deg);
}

.header-top__social-link_tw::before {
    content: "";
    background-image: @headerTop__tw;
    background-repeat: no-repeat;
    display: block;
    transform-style: preserve-3d;
    width: 17px;
    height: 14px;
}

.header-top__social-link_tw::after {
    content: "";
    display: block;
    background-image: @headerTop__tw__hover;
    background-repeat: no-repeat;
    width: 17px;
    height: 14px;
    transform: rotateY(180deg);
}

.header-top__social-link_rss {
    width: 14px;
    height: 14px;
    padding-bottom: 11px;
    border-bottom: solid 2px @headerTop__color-invisibleBorder;
}

.header-top__social-link_yt {
    width: 19px;
    height: 14px;
    padding-bottom: 11px;
    border-bottom: solid 2px @headerTop__color-invisibleBorder;
}

.header-top__social-link_fb {
    width: 7px;
    height: 14px;
    padding-bottom: 11px;
    border-bottom: solid 2px @headerTop__color-invisibleBorder;
}

.header-top__social-link_vk {
    width: 24px;
    height: 14px;
    padding-bottom: 11px;
    border-bottom: solid 2px @headerTop__color-invisibleBorder;
}

.header-top__social-link_tw {
    width: 17px;
    height: 14px;
    padding-bottom: 11px;
    border-bottom: solid 2px @headerTop__color-invisibleBorder;
}

.header-top__user {
    display: flex;
    align-items: center;
}

.header-top__user a {
    display: flex;
    flex-direction: row;
    transition: @headerTop__animations-all;
}

.header-top__user a:hover {
    color: @headerTop__color-element__hover;
}

.header-top__user a:before {
    content: "";
    display: block;
    background-image: @headerTop__logIn;
    background-repeat: no-repeat;
    width: 10px;
    height: 14px;
    margin-right: 8px;
}

