.header__small {
    background: #0b2226;
}

.header__small .header-top {
    background: #091a1e;
}

.header__small-breadcrumbs {
    height: 63px;
}

.header__small .header-timeline__description {
    opacity: 0;
}

.header__small-breadcrumbs .container {
    border-top: solid 1px rgba(255, 255, 255, 0.06);
    margin-top: 57px;
}

.header__small-breadcrumbs .container-content {
    margin-top: 23px;
    margin-bottom: 24px;
}

.header__small-breadcrumbs a {
    color: #8f9596;
    font: 16px PTSansRegular;
    line-height: 16px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 18px;
}

.header__small-breadcrumbs a::before {
    background: #8f9596;
    height: 1px;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 17px;
    transition: all 0.1s ease-out;
}

.header__small-breadcrumbs a:hover::before {
    opacity: 0;
}

.header__small-breadcrumbs-title {
    color: #8f9596;
    font: 16px PTSansRegular;
    line-height: 16px;
}

.header__small-breadcrumbs-arrow {
    font: 16px Arial;
    line-height: 16px;
    color: #8f9596;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
}


