// out: null

.btn-large {
    display: flex;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 3px;
    display: inline-block;
}

.btn-default {
    color: #fff;
    background-color: #2f8dca;
}

.btn-up {
    width: 40px;
    height: 40px;
    background-color: #ebebec;
    border-radius: 3px;
    color: #929497;
    display: flex;
    align-items: center;
    text-align: center;
}
