// out: null

.btn {
    display: inline-block;
    font-size: 18px;
    font-family: @font-Regular;
    border: none;
    border-radius: 3px;
    outline: none;
}

.btn-large {
    height: 40px;
    padding: 0 30px 0 30px;
}

.btn-default {
    background: #2f8dca;
    color: #fff;
}

.btn-up {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #ebebec;
    color: #929497;
    text-align: center;
}
