html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    user-select: none;
}

body {
    background: #f3f4f4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    //width: 100%;
    //overflow: hidden;
}

.header__large {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.wrap {
    width: @width-main;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    transition: all 0.5s ease-out;
}

.container2 {
    margin: 0 auto;
    padding-left: 20px;
    position: relative;
    transition: all 0.5s ease-out;
}

.container-header {
    position: relative;
    display: flex;
}

.container h2 {
    font-family: @font__main;
    font-size: 20px;
    text-transform: uppercase;
    color: #808285;
    font-weight: 100;
    margin-top: 38px;
    margin-bottom: 17px;
    display: inline-block;
}

.container2 h2 {
    font-family: @font__main;
    font-size: 20px;
    text-transform: uppercase;
    color: #808285;
    font-weight: 100;
    margin-top: 38px;
    margin-bottom: 17px;
    display: inline-block;
}

.container-content {
    display: flex;
    overflow: hidden;
    position: relative;
    flex: none;
}

.clearfix {
    clear: both;
}

.recomended {
    position: relative;
    left: 0;
    display: inherit;
}

.anons {
    position: relative;
    left: 0;
    display: inherit;
}

.popular {
    left: 0;
}

.new {
    position: relative;
    left: 0;
}

.arrow__left__empty {
    width: 20px;
    margin-left: 20px;
}

.arrow__left__empty:hover {
    cursor: default;
}

.arrow__right__empty {
    width: 20px;
    margin-left: 20px;
}

.arrow__right__empty:hover {
    cursor: default;
}

.page-container-wrap {
    width: 300%;
    overflow: hidden;
    display: flex;
    margin-left: -100%;
}

.page-container-wrap > div {
    width: 1262px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-content-arrow__left {
    left: 10%;
    top: 789px;
    display: block;
    width: 68px;
    height: 68px;
    position: absolute;
    z-index: 10;
    background: url(../img/page-video-arrow__left.png);
}

.page-content-arrow__left:hover {
    background: url(../img/page-video-arrow__right__hover.png);
    transform: scaleX(-1);
}

.page-content-arrow__right {
    right: 10%;
    top: 789px;
    display: block;
    width: 68px;
    height: 68px;
    position: absolute;
    z-index: 10;
    background: url(../img/page-video-arrow__left.png);
    transform: scaleX(-1);
}

.page-content-arrow__right:hover {
    background: url(../img/page-video-arrow__right__hover.png);
    transform: scaleX(+1);
}
