// out: null

.form__default-label {
    font-family: @font-Regular;
    font-size: 16px;
    text-transform: uppercase;
    color: #a7a9ac;
    display: block;
    margin-bottom: 20px;
}

.form__default-input__text {
    height: 41px;
    width: 100%;
    background-color: #f2f2f2;
    border: solid 1px #eeeeee;
    border-radius: 3px;
    margin-bottom: 20px;
    outline: none;
    color: #8a8c8e;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.form__default-input__email {
    height: 41px;
    width: 100%;
    background-color: #f2f2f2;
    border: solid 1px #eeeeee;
    border-radius: 3px;
    margin-bottom: 20px;
    outline: none;
    color: #8a8c8e;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.form__default-textarea {
    height: 221px;
    width: 100%;
    background-color: #f2f2f2;
    border: solid 1px #eeeeee;
    border-radius: 3px;
    margin-bottom: 20px;
    outline: none;
    color: #8a8c8e;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    box-sizing: border-box;
    resize: none;
}
