// out: null

.grid__column-1 {
    width: 227px;
    margin-right: 12px;
}

.grid__column-2 {
    width: 464px;
    margin-right: 12px;
}

.grid__column-3 {
    width: 702px;
    margin-right: 12px;
}

.grid__column-4 {
    width: 940px;
}

.grid__row-2 {
    width: 464px;
    overflow: hidden;
    margin-left: 12px;
}
