// out: null

.grid__column-1 {
    width: 227px;
    //border: solid 1px red;
}

.grid__column-3 {
    width: 702px;
    //border: solid 1px red;
    margin-right: 12px;
}

.grid__row-2 {
    width: 490px;
    overflow: hidden;
    margin-left: 12px;
}
