@media screen and (max-width: 1450px) {
    .container {
        width: 980px;
    }
    .container2 {
        width: 980px;
    }
    .header-top__worldwide {
        margin-right: 5%;
    }
    .header-top__watch-us {
        margin-right: 5.7%;
    }
    .header-top__menu {
        margin-right: 6%;
    }
    .header-top__menu-item {
        margin-right: 39px;
    }
    .header-top__search {
        margin-right: 5%;
    }
    .header-main__logo {
        margin-right: 9.2%;
    }
    .header-main__menu-item {
        margin-right: 62px;
    }
    .header-timeline {
        width: 980px;
    }
    .header-banner__item-play {
        width: 400px;
    }
    .header-banner__item-play:hover::before {
        transform: scale(1.15);
    }
    .header-banner__arrow_left {
        left: 0;
    }
    .header-banner__arrow_left:hover::before {
        opacity: 0.5;
        transform: scale(1.5);
    }
    .header-banner__arrow_right {
        right: 0;
    }
    .header-banner__arrow_right:hover::before {
        opacity: 0.5;
        transform: rotate(180deg) scale(1.5);
    }
    .content-episode__large {
        width: 464px;
        height: 260px;
    }
    .content-episode-info__right {
        width: 238px !important;
    }
    .content-sheduler__vertical {
        height: 260px;
    }
    .content-sheduler__vertical-list-item:nth-child(2) {
        border-bottom: none;
    }
    .content-sheduler__vertical-list-item:nth-child(3) {
        opacity: 0;
    }
    .content-sheduler__vertical-link__more {
        display: block;
    }
    .grid__column-1 {
        width: 226px;
    }
    .grid__column-2 {
        width: 464px;
    }
    .content-shows__row {
        position: relative;
        height: 264px;
        column-count: 12px;
        column-gap: 12px;
        column-width: 226px;
    }
    .content-shows__row-item {
        margin: 0 12px 12px 0;
    }
    .content-episodes__row {
        height: 264px;
        column-count: 12px;
        column-gap: 12px;
        column-width: 226px;
    }
    .content-episodes__row-item {
        width: 226px;
        margin: 0 0 12px 0;
    }
    .content-shows-list-columns {
        width: 702px;
    }
    .content-shows-list-column-1 {
        width: 260px;
    }
    .content-shows-list-column-2 {
        width: 260px;
    }
    .content-shows-list-column-3 {
        width: 260px;
    }
    .content-shows-list-about {
        width: 230px;
    }
    .content-shows-list-link {
        right: 46px;
    }
    .content-shows-list-channel-link {
        margin-top: 19px;
    }
    .content-shows-list-channel-share {
        margin-top: 58px;
    }
    .content-shows-list-channel-share li {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1450px) {
    .container {
        width: 1262px;
    }
    .container2 {
        width: 1262px;
    }
    .header-top__worldwide {
        margin-right: 11.8%;
    }
    .header-top__watch-us {
        margin-right: 8%;
    }
    .header-top__menu {
        margin-right: 6%;
    }
    .header-top__menu-item {
        margin-right: 50px;
    }
    .header-top__search {
        margin-right: 6.5%;
    }
    .header-main__logo {
        margin-right: 15%;
    }
    .header-main__menu-item {
        margin-right: 94px;
    }
    .header-timeline {
        width: 1262px;
    }
    .header-banner__item-play {
        width: 700px;
    }
    .header-banner__item-play:hover::before {
        transform: scale(1.25);
    }
    .header-banner__arrow_left {
        left: 0;
    }
    .header-banner__arrow_left:hover::before {
        opacity: 0.5;
        transform: scale(1.95);
    }
    .header-banner__arrow_right {
        right: 0;
    }
    .header-banner__arrow_right:hover::before {
        opacity: 0.5;
        transform: rotate(180deg) scale(1.95);
    }
    .content-episode__large {
        width: 478px;
        height: 268px;
    }
    .content-episode-info__right {
        width: 248px !important;
    }
    .content-sheduler__vertical {
        width: 478px;
        column-width: 230px;
    }
    .content-sheduler__vertical-current {
        width: 230px;
    }
    .content-sheduler__vertical-link__more {
        display: none;
    }
    .grid__column-1 {
        width: 230px;
        margin-right: 18px;
    }
    .grid__column-2 {
        width: 478px;
        margin-right: 18px;
    }
    .grid-form__column-2 {
        width: 599px;
        margin-right: 24px;
    }
    .grid__column-4 {
        width: 100%;
    }
    .content-shows__row {
        position: relative;
        height: 272px;
        column-count: 18px;
        column-gap: 18px;
        column-width: 230px;
    }
    .content-shows__row-item {
        margin: 0 18px 20px 0;
    }
    .content-episodes__row {
        height: 272px;
        column-count: 18px;
        column-gap: 18px;
        column-width: 230px;
    }
    .content-episodes__row-item {
        width: 230px;
        margin: 0 0 20px 0;
    }
    .content-shows-list-columns {
        width: 908px;
    }
    .content-shows-list-column-1 {
        width: 345px;
    }
    .content-shows-list-column-2 {
        width: 350px;
    }
    .content-shows-list-column-3 {
        width: 300px;
    }
    .content-shows-list-about {
        width: 275px;
    }
    .content-shows-list-link {
        right: 87px;
    }
    .content-shows-list-channel-link {
        margin-top: 25px;
    }
    .content-shows-list-channel-share {
        margin-top: 85px;
    }
    .content-shows-list-channel-share li {
        margin-right: 14px;
    }
}

@media screen and (min-width: 1600px) {
    .header-timeline {
        width: 1262px;
    }
    .header-banner__item-play {
        width: 720px;
    }
    .header-banner__arrow_left {
        left: 110px;
    }
    .header-banner__arrow_right {
        right: 110px;
    }
}

@media screen and (max-width: 1150px) {
    .container {
        width: 750px;
    }
    .container2 {
        width: 750px;
    }
    .header-top__worldwide {
        margin-right: 5%;
    }
    .header-top__watch-us {
        margin-right: 5.7%;
    }
    .header-top__menu {
        margin-right: 6%;
    }
    .header-top__menu-item {
        margin-right: 39px;
    }
    .header-top__search {
        margin-right: 5%;
    }
    .header-main__logo {
        margin-right: 9.2%;
    }
    .header-main__menu-item {
        margin-right: 62px;
    }
    .header-timeline {
        width: 980px;
    }
    .header-banner__item-play {
        width: 400px;
    }
    .header-banner__item-play:hover::before {
        transform: scale(1.15);
    }
    .header-banner__arrow_left {
        left: 0;
    }
    .header-banner__arrow_left:hover::before {
        opacity: 0.5;
        transform: scale(1.5);
    }
    .header-banner__arrow_right {
        right: 0;
    }
    .header-banner__arrow_right:hover::before {
        opacity: 0.5;
        transform: rotate(180deg) scale(1.5);
    }
    .content-episode__large {
        width: 464px;
        height: 260px;
    }
    .content-episode-info__right {
        width: 238px !important;
    }
    .content-sheduler__vertical {
        height: 260px;
    }
    .content-sheduler__vertical-list-item:nth-child(2) {
        border-bottom: none;
    }
    .content-sheduler__vertical-list-item:nth-child(3) {
        opacity: 0;
    }
    .content-sheduler__vertical-link__more {
        display: block;
    }
    .grid__column-1 {
        width: 226px;
    }
    .grid__column-2 {
        width: 464px;
    }
    .content-shows__row {
        position: relative;
        height: 264px;
        column-count: 12px;
        column-gap: 12px;
        column-width: 226px;
    }
    .content-shows__row-item {
        margin: 0 12px 12px 0;
    }
    .content-episodes__row {
        height: 264px;
        column-count: 12px;
        column-gap: 12px;
        column-width: 226px;
    }
    .content-episodes__row-item {
        width: 226px;
        margin: 0 0 12px 0;
    }
    .content-shows-list-columns {
        width: 702px;
    }
    .content-shows-list-column-1 {
        width: 260px;
    }
    .content-shows-list-column-2 {
        width: 260px;
    }
    .content-shows-list-column-3 {
        width: 260px;
    }
    .content-shows-list-about {
        width: 230px;
    }
    .content-shows-list-link {
        right: 46px;
    }
    .content-shows-list-channel-link {
        margin-top: 19px;
    }
    .content-shows-list-channel-share {
        margin-top: 58px;
    }
    .content-shows-list-channel-share li {
        margin-right: 10px;
    }
    .grid-form__column-2 {
        width: 343px;
        margin-right: 24px;
    }
    .header__large {
        display: none;
    }
    .content-shows-list{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .container {
       width: 146vw;
    }
    .grid__column-2 {
        width: 340px;
    }
    .grid-form__column-2 {
        width: 396px;
        margin-right: 24px;
    }
    .content-episode__large {
        width: 340px;
        height: 250px;
    }
    .content-sheduler__vertical {
        height: 250px;
    }
    .content-episode-info__right {
      display: none;
    }
    .grid__column-1 h2{
        display: none;
    }
    .content-arrow-right{
        display: none;
    }
    .content-sheduler__vertical-current {
        margin-top: 81px;
    }
    .content-episodes__row-item {
        height: 119px;
    }
    .grid__column-2 {
        margin-right: 3px;
    }
    .grid__column-flex{
        display: block;
    }
    .form__default-label{
        margin: 0;
    }
    .grid__column-1 {
        width: 202px;
    }

}
