@media screen and (max-width: 1450px) {
    .container {
        width: 980px;
    }

    .header-top__worldwide {
        margin-right: 5%;
    }

    .header-top__watch-us {
        margin-right: 5%;
    }

    .header-top__menu {
        margin-right: 3%;
    }

    .header-top__search {
        margin-right: 10%;
    }

    .header-main__logo {
        margin-right: 3%;
    }

    .header-timeline {
        width: 980px;
    }

    .header-banner__item-play {
        width: 400px;
    }

    .header-banner__arrow_left {
        left: 0;
    }

    .header-banner__arrow_right {
        right: 0;
    }

    .content-episode__large {
        width: 464px;
        height: 260px;
    }

    .content-episode-info__right {
        width: 238px !important;
    }

    .content-sheduler__vertical {
        height: 260px;
    }

    .grid__column-1 {
        width: 226px;
    }

    .grid__column-2 {
        width: 464px;
    }

    .content-shows__row {
        height: 264px;
        column-count: 12px;
        column-gap: 12px;
        column-width: 226px;
    }

    .content-shows__row-item {
        margin: 0 0 12px 0;
    }

    .content-episodes__row {
        height: 264px;
        column-count: 12px;
        column-gap: 12px;
        column-width: 226px;
    }

    .content-episodes__row-item {
        width: 226px;
        margin: 0 0 12px 0;
    }

    .content-shows-list-columns {
        width: 702px;
    }

    .content-shows-list-column-1 {
        width: 260px;
    }

    .content-shows-list-column-2 {
        width: 260px;
    }

    .content-shows-list-column-3 {
        width: 260px;
    }

    .content-shows-list-about {
        width: 230px;
    }
}

@media screen and (min-width: 1450px) {
    .container {
        width: 1262px;
    }

    .header-top__worldwide {
        margin-right: 14%;
    }

    .header-top__watch-us {
        margin-right: 5%;
    }

    .header-top__menu {
        margin-right: 3%;
    }

    .header-top__search {
        margin-right: 15%;
    }

    .header-main__logo {
        margin-right: 12%;
    }

    .header-timeline {
        width: 1262px;
    }

    .header-banner__item-play {
        width: 700px;
    }

    .header-banner__arrow_left {
        left: 0;
    }

    .header-banner__arrow_right {
        right: 0;
    }

    .content-episode__large {
        width: 478px;
        height: 268px;
    }

    .content-episode-info__right {
        width: 248px !important;
    }

    .content-sheduler__vertical {
        height: 268px;
    }

    .grid__column-1 {
        width: 230px;
        margin-right: 18px;
    }

    .grid__column-2 {
        width: 478px;
        margin-right: 18px;
    }

    .grid-form__column-2 {
        width: 599px;
        margin-right: 24px;
    }

    .grid__column-4 {
        width: 1262px;
    }

    .content-shows__row {
        height: 272px;
        column-count: 18px;
        column-gap: 18px;
        column-width: 230px;
    }

    .content-shows__row-item {
        margin: 0 0 20px 0;
    }

    .content-episodes__row {
        height: 272px;
        column-count: 18px;
        column-gap: 18px;
        column-width: 230px;
    }

    .content-episodes__row-item {
        width: 230px;
        margin: 0 0 20px 0;
    }

    .content-shows-list-columns {
        width: 908px;
    }

    .content-shows-list-column-1 {
        width: 350px;
    }

    .content-shows-list-column-2 {
        width: 356px;
    }

    .content-shows-list-column-3 {
        width: 300px;
    }

    .content-shows-list-about {
        width: 275px;
    }
}

@media screen and (min-width: 1600px) {
    .header-top__worldwide {
        margin-right: 15%;
    }

    .header-top__watch-us {
        margin-right: 5%;
    }

    .header-top__menu {
        margin-right: 3%;
    }

    .header-top__search {
        margin-right: 10%;
    }

    .header-main__logo {
        margin-right: 15%;
    }

    .header-timeline {
        width: 1262px;
    }

    .header-banner__item-play {
        width: 720px;
    }

    .header-banner__arrow_left {
        left: 11%;
    }

    .header-banner__arrow_right {
        right: 11%;
    }
}
