// out: null
@width-main: 980px;
@img: "../img";
@font-main: PT Sans;
@color-menu: #8a8c8e;
@color-menuActive: #dfedfd;
@color-mainMenu: #dcddde;
@color-headerTop: rgba(0,0,0,0.3);
@height-headerTop: 41px;
