// out: null
@width-main: 980px;
@img: "../img";
@font-Bold: PTSansBold;
@font-Italic: PTSansItalic;
@font-Narrow: PTSansNarrow;
@font-Regular: PTSansRegular;
@font-main: PT Sans;
@color-menu: #8a8c8e;
@color-menuActive: #dfedfd;
@color-mainMenu: #dcddde;
@color-headerTop: rgba(0,0,0,0);
@height-headerTop: 41px;
@color-timelinePrev: #7c7c7c;
@color-timelineNext: #2662b1;
@color-timelineTime: #d1d3d4;
@color-timelineLive: #ef3800;
@color-timelineDescription: #bcbec0;
@color-bannerMainTime: #fff;
@color-bannerMainDay: #fff;
@color-bannerMainDayBackground: #d82929;
@color-bannerMainTitle: #fff;
@color-bannerMainDescription: #d1d3d4;
