// out: null

// Main sizes
@width-main: 980px;

// Main folders
@img: "../img";

//Main fonts
@font-Bold: PTSansBold;
@font-Italic: PTSansItalic;
@font-Narrow: PTSansNarrow;
@font-Regular: PTSansRegular;

//******************** BEGIN headerTop ********************
// Colors
@headerTop__color-invisibleBorder: rgba(0,0,0,0);
@headerTop__color-Border__hover: #f9ca0e;
@headerTop__color-element: #8a8c8e;
@headerTop__color-element__hover: #fff;
@headerTop__color-element__important: #dfedfd;
@headerTop__color-element__yellow: #f9ca0e;

// Social icons
@headerTop__rss: url("@{img}/header-rssIcon.svg");
@headerTop__rss__hover: url("@{img}/header-rssIcon__hover.svg");
@headerTop__yt: url("@{img}/header-youtubeIcon.svg");
@headerTop__yt__hover: url("@{img}/header-youtubeIcon__hover.svg");
@headerTop__fb: url("@{img}/header-facebookIcon.svg");
@headerTop__fb__hover: url("@{img}/header-facebookIcon__hover.svg");
@headerTop__vk: url("@{img}/header-vkIcon.svg");
@headerTop__vk__hover: url("@{img}/header-vkIcon__hover.svg");
@headerTop__tw: url("@{img}/header-twitterIcon.svg");
@headerTop__tw__hover: url("@{img}/header-twitterIcon__hover.svg");

// Another icons
@headerTop__worldwide: url("@{img}/header-whereToWatchIcon.svg");
@headerTop__search: url("@{img}/header-searchIcon.svg");
@headerTop__search__hover: url("@{img}/header-searchIcon__hover.svg");
@headerTop__logIn: url("@{img}/header-logInIcon.svg");

// Animations
@headerTop__animations-all: all 0.1s ease-out;
//******************** END headerTop **********************

//******************** BEGIN headerMain *******************
// Another icons
@headerMain__logo: url("@{img}/header-hopeLogo.svg");
@headerMain__play: url("@{img}/header-playIcon.svg");

// Colors
@headerMain__color-element: #dcddde;
@headerMain__color-invisibleBorder: rgba(0,0,0,0);
@headerMain__color-Border__hover: #ffa700;

// Animations
@headerMain__animations-all: all 0.1s ease-out;
//******************** END headerMain *********************

//******************** BEGIN headerTimeline ***************
// Colors
@headerTimeline__color-prev: #7c7c7c;
@headerTimeline__color-next: #2662b1;
@headerTimeline__color-time: #d1d3d4;
@headerTimeline__color-live: #ef3800;
@headerTimeline__color-description: #bcbec0;
//******************** END headerTimeline *****************

//******************** BEGIN headerBanner *****************
// Colors
@headerBanner__color-time: #fff;
@headerBanner__color-day: #fff;
@headerBanner__color-day__background: #d82929;
@headerBanner__color-title: #fff;
@headerBanner__color-description: #d1d3d4;
@headerBanner__color-control: rgba(167,169,172,0.5);
@headerBanner__color-control__active:#facb0e;
@headerBanner__color-loader: #9b9b9b;
@headerBanner__color-loader__active:#558b97;

// Animations
@headerBanner__animations-all: all 0.1s ease-out;

// Another icons
@headerBanner__arrow: url("@{img}/header-arrow-leftIcon.svg");
@headerBanner__play: url("@{img}/header-playButton.svg");
@headerBanner__mask: url("@{img}/header-mask.png");
//******************** END headerBanner *******************

//******************** BEGIN prayUs ***********************
@prayUs__color-element: #fff;
@prayUs__color-text: #8a8c8e;
@prayUs__color-border-element: #ddd;
@prayUs__color-border-text: #ddd;
@prayUs__size-border-element: 1px;
@prayUs__size-border-text: 1px;
@prayUs__size-text: 13px;
//******************** END prayUs *************************

//******************** BEGIN footerMain *******************
@footerMain__color-element: #fff;
@footerMain__color-text: #808285;
@footerMain__size-text__normal: 13px;
@footerMain__size-text__small: 11px;
//******************** END footerMain *********************


