@media screen and (min-width: 668px) and (max-width: 1024px){

  .header__large{
    display: none;
  }
  .content-shows-list-channel-link{
    margin-top: 25px;
  }
  .content-shows-list-channel-share{
    margin-top: 85px;
  }
  .content-shows-list-channel-description{
    width: 8%;
    font-size: 11px;
    line-height: 18px;
  }
  .content-shows-list-columns {
    width: 69%;
  }
  .content-shows-list-link{
    margin-left: 4%;
  }
  .content-video-list-header-show__title::after{
    width: 170px;
  }
  .content-video-list-header-show__title::before{
    width: 170px;
  }
  .content-article__small{
    width: 230px;
  }
  .content-arrow-right{
    display: none;
  }
  .footer__main-address p{
    margin-left: 100px;
  }
  .content-shows-list-category h1{
    font-size: 10px;
  }
  .content-shows-list-item{
    font-size: 11px;
  }
  .container h2{
    font-size: 17px;
  }
  .content-shows-list-column-2{
    margin-left: 20px;
  }
  .baners{
    padding-right: 0;
  }
  .content-episodes__vertical{
    width: 230px;
  }
  .content-episodes__row{
    height: 269px;
  }
  .content-episodes__row-item-fix-height{
    margin-bottom: 19px;
  }
  .popular{
    width: 230px;
    height: 276px;
  }
  .content-sheduler__vertical-list{
    height: 91px;
  }
  .content-episode-info__right{
    display: none;
  }
  .content-sheduler__vertical-link__more{
    right: -10px;
    bottom: 6px;
  }
  .content-shows__row {
    position: relative;
    height: 264px;
    column-count: 12px;
    column-gap: 12px;
    column-width: 226px;
  }
  .content-shows__row-item{
    height: 127px;
    margin-bottom: 5px;
  }
  .container{
    padding-right: 0;
  }
  .filter-small__reload{
    right: 20px;
  }
  .btn-up{
    margin-right: 20px;
  }
  .text{
    padding-right: 20px;
  }
  .content-video-list-item{
    padding-right: 20px;
  }
  .content-video-list-header-content .container{
    padding-right: 20px;
  }
  .content-video-list-header-about{
    font-size: 13px;
    line-height: 11px;
  }
  .content-video-list-header-subscribe{
    font-size: 11px;
    line-height: 12px;
  }
  .header-top .container{
    padding-right: 20px;
  }
  .header-main .container{
    padding-left: 0;
  }
  .header-main__lang{
    display: none;
  }
  .header-main .container-content{
    width: 700px;
    justify-content: space-between;
  }
  .header-main__menu{
    width: 68%;
    justify-content: space-between;
  }
  .page-programs-shows-list-column-2 {
    width: 274px;
  }
  .page-programs-shows-list-column-1 {
    width: 278px;
  }
  .oh{
    overflow: hidden;
  }
  .page-programs-content-items{
    width: 10000px;
  }
  .page-episode-header-share{
    display: none;
  }
  .page-article-content-controls{
    display: none;
  }
  .page-content-arrow__left{
    display: none;
  }
  .page-content-arrow__right{
    display: none;
  }
  .page-episode-header-date{
    display: none;
  }
  .page-episode-header-views{
    display: none;
  }
  .align{
    padding-right: 20px;
  }
  .page-brand-block__tw-content-text{
    width: 440px;
  }
  .content-Brand-header-about {
    font-size: 13px;
    line-height: 11px;
  }
  .content-Brand-header-subscribe {
    font-size: 11px;
    line-height: 12px;
  }
  .content-Brand-header-show__title::before{
    width: 100px;
  }
  .content-Brand-header-show__title::after{
    width: 100px;
  }
  .one{
    padding-right: 20px;
  }
  .content-Brand-header-search-input{
    width: 424px;
  }
  .page-article-arrow__left{
    display: none;
  }
  .page-article-arrow__right{
    display: none;
  }
  .page-article-header-content-info{
    display: none;
  }
  .page-article-header-content-head{
    width: 400px;
  }
  .page-article-header-content-head-title{
    font-size: 26px;
  }
  .page-articles-article-content-title{
    width: 63%;
  }
  .page-articles-article-content-description{
    width: 100%;
    max-height: 107px;
  }
  .page-articles-article-last{
    height: 567px;
  }
  .page-articles-header-search{
    width: 68%;
  }
  .page-articles-header{
    padding-right: 20px;
  }
  .page-articles-article-content{
    width: 63%;
  }
  .block-box{
    display: block;
  }
  .content-video-list-poster {
    width: 80vw;
    height: 45vw;
    margin: auto;
  }
  .content-video-list-content {
    margin-left: 16px;
    padding-top: 32px;
    padding-right: 16px;
    width: 82vw;
  }
  .content-shows-list-channel-share {
    width: 176px;
    display: flex;
    justify-content: space-between;
  }
  .page-articles-article-content-date::after{
    display: none;
  }
  .page-articles-article-content-views::after{
    display: none;
  }
  .page-articles-article-content-views{
    top: 15px;
    right: 100px;
  }
  .page-articles-article-content-date{
    top: 15px;
  }
  .page-articles-article-content-link{
    display: none;
  }
  .page-articles-article-content-title{
    width: 100%;
  }

  .content-episode__large{
    width: 95vw;
    height: 53.4375vw;
  }
  .content-episode__large-title__show{
    top: 90%
  }
  .content-episode__large-title__episode{
    top: 80%;
  }
  .grid-form__column-2{
    width: 50%;
  }
  .grid__column-flex{
    padding-right: 12px;
  }
  .page-article-text-wrap{
    width: 98%;
    margin-left: 0;
  }
  .page-article-text-prev{
    display: none;
  }
  .page-article-text-next{
    display: none;
  }
  .content-episodes__vertical-link {
    margin-top: 15px;
  }
}


@media screen and (min-width: 668px) and (max-width: 1024px) and (orientation:portrait){
  .page-episode-content-video{
    width: 728px;
  }
}
