@media screen and (min-width: 1601px) {
  .container {
    width: 1262px;
  }
  .header-timeline {
    width: 1262px;
  }
  .header-banner__item-play {
    width: 720px;
  }
  .header-banner__arrow_left {
    left: 110px;
  }
  .header-banner__arrow_right {
    right: 110px;
  }
  .content-video-list-header-controls{
    justify-content: space-between;
  }
  .content-video-list-header-search{
    width: 578px;
  }
  .content-video-list-header-subscribe{
    width: 290px;
  }
  .content-video-list-header-about{
    width: 290px;
  }
  .content-video-list-header-poster img{
    width: 100%;
  }
  .content-Brand-header-search{
    width: 578px;
  }
  .content-Brand-header-about{
    width: 290px;
  }
  .content-Brand-header-subscribe{
    width: 290px;
  }
}