@media screen and (min-width: 481px) and (max-width: 1024px){

  .header__large{
    display: none;
  }
  .grid-form__column-2 {
    width: 486px;
  }
  .content-shows-list-channel-link{
    margin-top: 25px;
  }
  .content-shows-list-channel-share{
    margin-top: 85px;
  }
  .content-shows-list-channel-description{
    width: 8%;
    font-size: 11px;
    line-height: 18px;
  }
  .content-shows-list-columns {
    width: 69%;
  }
  .content-shows-list-about{
    margin-left: 4%;
  }
  .content-shows-list-link{
    margin-left: 4%;
  }
  .content-video-list-header-show__title::after{
    width: 260px;
  }
  .content-video-list-header-show__title::before{
    width: 260px;
  }
  .content-article__small{
    width: 230px;
  }
  .content-arrow-right{
    display: none;
  }
  .grid-form__column-2{
    width: 358px;
  }
  .footer__main-address p{
    margin-left: 100px;
  }
  .content-shows-list-category h1{
    font-size: 10px;
  }
  .content-shows-list-item{
    font-size: 11px;
  }
  .container h2{
    font-size: 17px;
  }
  .content-shows-list-column-2{
    margin-left: 20px;
  }
  .grid__column-1:last-child{
    margin-left: 20px;
  }
  .baners{
    padding-right: 0;
  }
  .content-shows-list-about{
    margin-left: 100px;
  }
  .content-episodes__vertical{
    width: 230px;
  }
  .content-episode__large{
    width: 478px;
    height: 269px;
  }
  .content-episodes__row{
    width: 238px;
    height: 269px;
  }
  .content-episodes__row-item-fix-height{
    margin-bottom: 19px;
  }
  .popular{
    width: 230px;
    height: 276px;
    overflow: hidden;
  }
}