// out: null

.content-episode__large {
    width: 471px;
    height: 260px;
    overflow: hidden;
    position: relative;
}

.content-episode__large:hover {
    cursor: pointer;
}

.content-episode__large:hover .content-episode__large-play{
    transform: scale(1.25);
}

.content-episode__large img {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.content-episode__large:hover .content-episode__large-play::before {
    width: 86px;
    height: 86px;
    top: 87px;
    left: 189px;
    cursor: pointer;
}

.content-episode__large:hover::before {
    //background: linear-gradient(to bottom,
    //    rgba(15, 45, 95, 0) 0%,
    //    rgba(15, 45, 95, 0) 0%,
    //    rgba(15, 45, 95, 0.6) 1%,
    //    rgba(15, 45, 95, 0.9) 100%);
    //background: rgba(40, 65, 115, 0.7);
    background: rgba(0, 25, 63, 0.8);
}

.content-episode__large:hover .content-episode-image__wide, .content-episode-image__squared {
    //-webkit-filter: blur(3px);
    transform: scale(1.05);
    -webkit-filter: grayscale(100%);
}

.content-episode__large::before {
    content: "";
    display: block;
    position: absolute;
    height: 260px;
    width: 465px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(77, 77, 77, 0) 50%, rgba(39, 39, 39, 0.6) 75%, rgba(0, 0, 0, 0.9) 100%);
    //transition: all 0.1s;
    //transition-timing-function: cubic-bezier(0.8, 0, 0.3, 1);
}

.content-episode__large-play {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
    background: url(../img/header-playButton.svg);
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.3, 1);
    position: absolute;
    z-index: 100;
}

.content-episode__large-title__episode {
    z-index: 100;
    color: #fff;
    font-family: @font-Bold;
    font-weight: 500;
    font-size: 19px;
    position: absolute;
    left: 35px;
    top: 200px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    display: block;
    width: 264px;
    margin-top: 0;
    padding-top: 0;
}

.content-episode__large-title__show {
    z-index: 100;
    color: #e6e7e8;
    font-family: @font-Regular;
    font-size: 15px;
    position: absolute;
    left: 35px;
    top: 225px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    display: block;
    width: 264px;
    margin-top: 0;
    padding-top: 0;
}

.content-episode__large-title__show::before {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    background: url(../img/content-episode-arrowIcon.svg);
    float: left;
    margin-top: 5px;
    margin-right: 6px;
}

.content-episode-image__squared {
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.3, 1);
    top: 0;
}

.content-episode-image__wide {
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.3, 1);
    top: 0;
}
