// out: null

.content-episodes__row {
    -webkit-column-width: 226px;
    -moz-column-width: 226px;
    column-width: 226px;
    -webkit-column-count: 12;
    -moz-column-count: 12;
    column-count: 12;
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    width: 464px;
    height: 264px;
}

.content-episodes__row-item {
    width: 226px;
    height: 124px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
    padding: 0;
    position: relative;
    display: block;
    backface-visibility: hidden;
    overflow: hidden;
}

.content-episodes__row-item:hover {
    cursor: pointer;
}

.content-episodes__row-item:hover .content-episodes__row-item-play {
    transform: scale(1.25);
}

.content-episodes__row-image__wide {
    width: 100%;
    height: 124px;
}

.content-episodes__row-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 226px;
    height: 124px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(77, 77, 77, 0) 50%, rgba(39, 39, 39, 0.6) 75%, rgba(0, 0, 0, 0.9) 100%);
}

.content-episodes__row-item:hover::before {
    background: rgba(0, 25, 63, 0.8);
}

.content-episodes__row-item:hover .content-episodes__row-image__wide, .content-episodes__row-image__squared {
    transform: scale(1.05);
    -webkit-filter: grayscale(100%);
}

.content-episodes__row-item-play {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    background: url(../img/header-playButton.svg);
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.3, 1);
}

.content-episodes__row-item-title {
    position: absolute;
    z-index: 100;
    font-family: @font-Bold;
    font-size: 12px;
    color: #fff;
    width: 100%;
    top: 76px;
    line-height: 14px;
    letter-spacing: 0.2pt;
    padding: 0;
    margin: 0;
    left: 12px;
    top: 100px;
    width: 200px;
}
