// out: null

.content-pray-us {
    width: 100%;
    padding: 0 0 25px 0;
    border-bottom: solid @prayUs__size-border-element @prayUs__color-border-element;
    background: @prayUs__color-element;
    color: @prayUs__color-text;
    font: @prayUs__size-text @font-Regular;
}

.content-pray-us-description {
    display: block;
    padding: 0 0 30px 0;
    border-bottom: solid @prayUs__size-border-text @prayUs__color-border-text;
    margin: 0 0 34px 0;
}

.content-pray-us-description span {
    font: bold @prayUs__size-text @font-Bold;
}

.content-pray-us-submit {
    text-align: center;
}
