.content-episode-info__right {
    padding: 15px 0 0 25px;
    margin-top: 100px;
    background: #fff;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 0 #E0E0E0;
    height: 268px;
}

.content-episode-info__right-date {
    color: #909799;
    .font-size(13);
    font-family: @font__main;
}

.content-episode-info__right-date span {
    color: #909799;
    font-family: @font__main;
    .font-size(13);
    font-weight: bold;
}

.content-episode-info__right-title {
    margin: 29px 0 3px 0;
    color:  #606b6d;
    font-family: @font__main;
    font-weight: bold;
    .font-size(18);
}

.content-episode-info__right-category {
    display: inline-block;
    margin-left: 21px;
    color: #0882c2;
    .font-size(14, 20);
    font-family: @font__main;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.content-episode-info__right-category:hover::after {
    opacity: 0;
}

.content-episode-info__right-category::before {
    float: left;
    display: block;
    width: 16px;
    height: 13px;
    margin: 4px 8px 0 -19px;
    background: url(../img/listIcon.svg) no-repeat;
    content: "";
}

.content-episode-info__right-category::after {
    position: relative;
    top: -2px;
    left: 5px;
    display: block;
    width: 96%;
    height: 1px;
    background: #7cb0d9;
    box-shadow: 0 1px 0 0 rgba(216, 230, 242, 0.9);
    content: "";
    transition: all 0.1s ease-out;
}

.content-episode-info__right-category span {
    font-family: Arial;
    .font-size(13);
    position: absolute;
    top: 3px;
    right: -18px;
}

.content-episode-info__right-description {
    width: 175px;
    margin: 22px 0 29px 0;
    color: #6e7b7d;
    .font-size(13, 15);
    font-family: @font__main;
}

.content-episode-info__right-share span {
    float: left;
    color: #808285;
    .font-size(13);
    font-family: @font__main;
    font-style: italic;
    margin-top: 6px;
}

.content-episode-info__right-share-items {
    display: flex;
    padding-left: 12px;
    margin: 0;
}

.content-episode-info__right-share-item {
    margin-right: 12px;
    list-style-type: none;
    opacity: 0.8;
}

.content-episode-info__right-share-item:last-child {
    margin-right: 0;
}

.episode-info__right-share-link {
    display: block;
    height: 14px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.2s linear;
}

.content-episode-info__right-share-item:hover .episode-info__right-share-link {
    transform: rotateY(180deg);
}

.episode-info__right-share-item_vk {
    width: 22px;
}

.episode-info__right-share-item_vk::before {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/vkIconInfo.svg) no-repeat;
    content: "";
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.episode-info__right-share-item_vk::after {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/vkIconInfo.svg) no-repeat;
    content: "";
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.episode-info__right-share-item_fb {
    width: 22px;
}

.episode-info__right-share-item_fb::before {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/facebookIconInfo.svg) no-repeat;
    content: "";
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.episode-info__right-share-item_fb::after {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/facebookIconInfo.svg) no-repeat;
    content: "";
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.episode-info__right-share-item_tw {
    width: 22px;
}

.episode-info__right-share-item_tw::before {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/twitterIconInfo.svg) no-repeat;
    content: "";
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.episode-info__right-share-item_tw::after {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/twitterIconInfo.svg) no-repeat;
    content: "";
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
