// out: null

.content-shows-list {
    border-bottom: solid 5px #ddd;
}

.content-shows-list-link {
    text-decoration: none;
}

.content-shows-category-link {
    text-decoration: none;
    font-family: @font-Bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #2f8dca;
}

.content-shows-list-item {
    list-style-type: none;
}

.content-shows-list-item a {
    font-family: @font-Regular;
    font-size: 14px;
    text-decoration: none;
    color: #8a8c8e;
}

.content-shows-list__row {
    webkit-column-width: 226px;
    -moz-column-width: 226px;
    column-width: 226px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    width: 464px;
    height: 264px;
}
