// out: null

.content-episodes__vertical {
    flex: none;
    background: #fff;
    backface-visibility: hidden; //fix animation visual bug
    height: 260px;
    overflow: hidden;
}

.content-episodes__vertical-link {
    display: inline-block;
    margin: 0 0 0 29px;
    color: #2f8dca;
    font: 14px @font-Regular;
    text-decoration: none;
    width: 400px;
    display: flex;
}

.content-episodes__vertical-link::before {
    float: left;
    display: block;
    width: 5px;
    height: 10px;
    margin: 3px 6px 0 -11px;
    background: url(../img/content-episode-arrowIcon.svg) no-repeat;
    content: "";
}

.content-episodes__vertical-link::after {
    display: block;
    position: absolute;
    right: 0;
    width: 60px;
    height: 21px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 37%, rgba(255, 255, 255, 1) 100%);
    content: "";
    transition: all 0.1s ease-out;
}

.content-episodes__vertical-link-text::after {
    position: relative;
    top: 0px;
    left: 1px;
    display: block;
    width: 100%;
    height: 1px;
    background: #7cb0d9;
    box-shadow: 0 1px 0 0 rgba(216, 230, 242, 0.9);
    content: "";
    transition: all 0.1s ease-out;
}

.content-episodes__vertical-link-text:hover::after {
    cursor: pointer;
    opacity: 0;
}
.content-episodes__vertical-link span {
    position: relative;
    right: -1px;
    font: 13px Arial;
}

.content-episodes__vertical-description {
    margin: 12px 17px 17px 17px;
    color: #808285;
    font: 12px @font-Regular;
    height: 74px;
    overflow: hidden;
}
