// out: null

.content-article__small {
    background: #fff;
    backface-visibility: hidden;
    flex: none;
}

.content-article__small:hover {
    cursor: pointer;
}

.content-article__small-image {
    width: 100%;
    height: 124px;
}

.content-article__small-description {
    font-family: @font-Regular;
    font-size: 12px;
    color: #808285;
    margin-left: 21px;
    margin-bottom: 20px;
}

.content-article__small-title {
    font-family: @font-Bold;
    font-weight: bold;
    font-size: 12px;
    color: #4d4d4f;
    margin-left: 21px;
    font-weight: bold;
    text-decoration: none;
}

.content-article__small-date {
    font-family: @font-Regular;
    font-size: 12px;
    color: #808285;
    margin-left: 21px;
}

.content-article__small-date span {
    font-family: @font-Bold;
    font-weight: 500;
    font-size: 11px;
    color: #bcbec0;
}
