.banners-wide {
    width: 100%;
    background: #fff;
    border-top: solid 5px #ddd;
    border-bottom: solid 5px #ddd;
    transition: all 0.5s ease-out;
    margin-top: 38px;
}

.banners-wide2 {
    width: 100%;
    background: #fff;
    border-top: solid 5px #ddd;
    border-bottom: solid 5px #ddd;
    margin-top: 0;
    transition: all 0.5s ease-out;
}

.banners-wide-item {
    border-right: dotted 1px #808285;
    height: 160px;
    margin: 13px 0;
}

.banners-wide-link {
    display: block;
    overflow: hidden;
    height: 191px;
}
