// out: null

.banners-wide {
    width: 100%;
    background: #fff;
    border-top: solid 5px #ddd;
    border-bottom: solid 5px #ddd;
    margin-top: 35px;
}

.banners-wide-link {
    display: block;
    overflow: hidden;
    height: 191px;
}
