.footer__main {
    background: @footerMain__color-element;
    color: @footerMain__color-text;
    font-family: @font__main;
    .font-size(13);
}

.footer__main-copyright {
    position: absolute;
    left: 0;
    display: block;
    margin-top: 30px;
}

.footer__main-copyright p {
    margin: 0;
    .font-size(13);
}

.footer__main-copyright span {
    display: block;
    padding-top: 8px;
    margin: 0;
    .font-size(11);
}

.footer__main-address {
    width: 100%;
    margin: 28px 0 38px 0;
    text-align: center;
}

.footer__main-address p {
    margin: 0;
    .font-size(13, 15);
}

.footer__main-button__up {
    position: absolute;
    top: 30px;
    right: 0;
}
