.brand-GMNU .content-video-list-header-poster::before {
    display: none;
}

.brand-GMNU .archive {
  background-color: transparent;
  outline: 0;
  border: 1px solid #c44db2;
  color: #c44db2;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 15px;
  padding: 0 20px;
  width: auto;
  margin-top: 47px;
  text-decoration: none;
}

.brand-GMNU .page-brand-block__about__multiple {
  display: none;
}
.brand-GMNU .page-brand-block__about {
  display: block;
}

.content-Brand-page-wrap.brand-GMNU {
  background: #333f41;
}
.brand-GMNU .page-brand-block__tw {
  display: block;
}

.brand-GMNU .content-episode__large-image {
  z-index: 1;
}

.brand-GMNU .content-video-list-header-about {
  display: block;
}
.brand-GMNU .content-video-list-header-subscribe {
  display: block;
}
